@font-face {
    font-family: "Interstate-Regular";
    src: url(font/interstate-regular.ttf);
}

@font-face {
    font-family: "Mercury_Display_Roman";
    src: url(Mercury_Display_Roman.otf);
}

@font-face {
    font-family: "Rage Italic";
    src: url(font/Rage Italic.ttf);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.site-container {
    max-width: 1200px;
}

/* styles */
h1 {
    text-align: left;
    font-family: 'Interstate-Regular';
    color: #252525;
    font-size: 3rem;
    padding: 1%;
}

h2 {
    text-align: left;
    font-family: 'Rage Italic';
    color: #252525;
    font-size: 2rem;
    padding: 1%;
}

h3 {
    text-align: left;
    font-family: 'Interstate-Regular';
    color: #252525;
    font-size: 1rem;
    padding: 1%;
}

p {
    font-family: 'Mercury_Display_Roman';
    color: #464646;
    font-size: 1rem;
    padding: 1%;
}

body {
    background-color: #ffffff;
}

main {
    width: 90%;
    margin: auto;
    background-color: #ffffe0;
    max-width: 1200px;
    padding-bottom: 5%;
}

#navbar {
    overflow: hidden;
    clear: both;
}

#navbar a {
    display: block;
    float: left;
    color: #000000;
    text-align: center;
    font-size: 1rem;
}

#navbar a:hover {
    background-color: #ffffe1;
    color: black;
}

#navbar a.active {
    background-color: #f08080;
    color: white;
}

a {
    text-decoration: none;
    color: #0192b3;
    display: block;
    font-family: 'Interstate-Regular';
    padding: 2.2%;
}

a:hover {
    color: #ffffe1;
}

ul {
    list-style: none;
    position: relative;
    text-align: left;
    background-color: #d3d3d3;
    font-family: 'Mercury_Display_Roman';
}

li {
    float: left;
}

ul::before,
ul::after {
    content: " ";
    display: table;
    clear: both;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #ffffe1;
    color: #252525;
}

img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.logo {
    display: block;
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: auto;
}


section {
    padding-top: 2%;
    padding-left: 2%;
}

footer {
    text-align: center;
    overflow: hidden;
    background-color: #0192b3;
}
